/* font link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: myMiama;
    src: url(Miama.ttf);
}
.font-primary{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}

/* common-style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    /* border: 1px solid blue; */
}


/* shared styles */
.flex{
    display: flex;
}
/* .primary-color{
    color: black;
}
.bg-primary{
    color: rgb(35,35,35);
}
.section-bg{
    color: rgb(0,0,0);
} */
.bg-color{
    background-color: #E6533C;
}
.hidden{
    display: none;
}
/* main section style */
main{
    background: rgb(0,0,0);
}
section{
    padding-top: 5em;
    max-width: 1044px;
    margin: 0 auto;
}
.common-tittle{
    color: #FFF;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 57.6px */
}
.common-paragraph{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: .9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 171.429% */
    letter-spacing: 0.3px;
}
.btn-primary{
    cursor: pointer;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding: 16px 40px;
    justify-content: center;
    gap: 10px;
    border-radius: 42px;
    border: 1px solid #FFF;
    background-color: rgb(14,14,14);
}
.btn-primary:hover{
    border: none;
    background-color: #E6533C;
}



/* header styles */
header{

    /* background-color: rgb(34,34,34); */
    background: linear-gradient(180deg, #111 0%,rgb(34,34,34),rgb(0,0,0) 100% );
    padding: 57px 150px 0;
}
nav{
    display: flex;
    justify-content: space-between;
    
}
.section-tittle{
    color: #E6533C;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    line-height: 120%; /* 43.2px */
}

nav>div> ul{
    display: flex;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    padding: 10px;
    align-items: center;
    gap: 70px;
}
nav li{
    list-style: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
nav li:hover{
    color: #FFF;
    border-radius: 46px;
    padding: 8px 12px;
    background-color: #E6533C;
}
nav li:last-child{
    margin-right: 0;
}
nav li a{
    text-decoration: none;
    color: #FFF;
}
/* banner section */
.banner{
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.banner-content{
    margin-right: 50px;
}
.banner-tittle{
    color: #FFF;
    font-size: 5em;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}
.miama{
    font-family: myMiama;
    color: #FFF;
    font-size: 2.2em;
    font-style: normal;
    font-weight: 400;
    /* line-height: 50%; */
}
.banner-details{
    color: rgba(255, 255, 255, 0.50);
    padding: 1.8rem 0;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}
.image-content{
    position: relative;
}
.video-tutorial{
    position: absolute;
    /* bottom: 305px;
    left: 1080px; */
    bottom: 75px;
    left: -85px;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 96px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    padding: 23px;
    gap: 12px;
}
.video-tutorial-icon i{
    font-size: 2rem;
    color: #E6533C;
}
.video-tutorial-content h3{
    color: #FAFAF9;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.video-tutorial-content p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.Workout-videos{
    position: absolute;
    top: 140px;
    left:215px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 193px;
    height: 98px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
}
.Workout-videos-content h3{
    color: #FFF;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2.5rem;
    letter-spacing: 1px;
}
.Workout-videos-content p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.82rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 1px;
}

/* change habit section */
.change-habit{
    /* border: 1px solid red; */
}
.change-habit-content{
    width: 670px;
    margin: 0 auto;
}
.change-habit-content>.common-tittle {
    text-align: center;
}
.change-habit-content>.common-paragraph{
    text-align: center;
}
.change-habits-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 2.9em;
}
.card-content{
    width: 230px;
    margin: 0 auto;
    text-align: center;
}
.card-content img{
    border-radius: 50%;
    overlay: lightgray;
}
.card-content h4{
    margin-top: 1.8rem;
    color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.card-content p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
    letter-spacing: 0.3px;
}
/* run easily section */
.run-easily{
    /* border: 1px solid red; */
    padding: 30px 32px 29px 54px;
    justify-content: space-between;
    align-items: center;
    gap: 7em;
    background-color: #222222;
    border-radius: 18px;
}
.run-easily-content .common-tittle, .common-paragraph{
    text-align: left;
}
.run-easily-content .common-paragraph{
    margin: 14px 0 30px;
}
.run-easily-image img{
    width: 100%;
    border-radius: 18px;
    
}
/* trainings-and-exercises section */
.trainings-and-exercises-content{
    width: 670px;
}
.Trainings and Exercises,.common-tittle{
    text-align: left;
}
.Trainings and Exercises,.common-paragraph{
    margin: 14px 0 45px;
}
.trainings-and-exercises-images>.row1{
    display: grid;
    grid-template-columns: 230px auto 260px;
    height: 220px;
}
.trainings-and-exercises-images>.row2{
    display: grid;
    grid-template-columns: auto 308px 308px;
    height: 220px;
}
.exercises-images-item1{
    background: linear-gradient(0deg, rgba(6, 255, 210, 0.50) 0%, rgba(6, 255, 210, 0.50) 100%), url("../images/exercise1.jpg") lightgray 50% / cover no-repeat;
}
.exercises-images-item1 h4{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 180px 0 0 20px;
}
.exercises-images-item2{
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.30) 0%, rgba(255, 0, 0, 0.30) 100%), url("../images/exercise2.png") lightgray -0.336px 0px / 100.125% 111.811% no-repeat;
}
.exercises-images-item2 h4{
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px;
}
.exercises-images-item3{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("../images/exercise3.png") lightgray 50% / cover no-repeat;
}
.exercises-images-item3 h4{
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    margin: 170px 0 0 20px;
}
.exercises-images-item4 h4,.exercises-images-item5 h4,.exercises-images-item6 h4{
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 170px 0 0 20px;
}
.exercises-images-item4{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("../images/exercise4.png") lightgray 50% / cover no-repeat;
}
.exercises-images-item5{
    background: linear-gradient(0deg, rgba(66, 255, 0, 0.30) 0%, rgba(66, 255, 0, 0.30) 100%), url("../images/exercise5.jpg") lightgray 50% / cover no-repeat;
}
.exercises-images-item6{
    background: linear-gradient(0deg, rgba(0, 71, 255, 0.30) 0%, rgba(0, 71, 255, 0.30) 100%), url("../images/exercise6.jpg") lightgray 50% / cover no-repeat;
}
/* BMI calculator section */
.bmi-content{
    width: 670px;
    margin: 0 auto;
}
.bmi-chart{
    padding: 3.5rem 0;
    /* border: 1px solid red; */
    
    background-color: rgb(34,34,34);
}
.charts{
    max-width: 1044px;
    margin: 0 auto;
    justify-content: space-between;
}
.table-tittle{
    color: #FFF;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 1.5em;
}
.table-data th,td{
    padding: 14px 20px;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    border: 1px solid rgba(255, 255, 255, 0.10);
}
.calculate-bmi{
    width: 570px;
}
.calculate-bmi>.table-tittle{
    margin-bottom: 8px;
}
.calculate-bmi>.common-paragraph{
    margin-bottom: 30px;
}
#form{
    width: 280px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 12px 40px 12px 20px;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    margin-bottom: 10px;
}
#form-big{
    width: 565px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 12px 40px 12px 20px;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    margin-bottom: 10px;
}




/* responsive Small device media quary */
@media screen and (max-width:576px) {
    /* nav{
        display: hidden;
    }
    .banner{
        flex-direction: column;
        gap: 2em;
    } */
    /* change habit section */
    .change-habit-content{
        width: auto;
        margin: 0 auto;
    }
    .change-habits-cards{
        grid-template-columns: repeat(1,1fr);
        gap: 2em;
    }
    .card-content{
        text-align: center;
    }
    /* run easily section */
    .run-easily{
        padding: 30px;
        flex-direction: column;
        gap: 2em;
        margin: 0 20px;
    }
    .run-easily-content .common-paragraph{
        margin: 10px 0 20px;
    }
    /* trainings-and-exercises */
    .trainings-and-exercises{
        margin: 0 20px;
    }
    .trainings-and-exercises-content{
        width: auto;
    }
    .exercises-images-item3,.exercises-images-item6{
        display: none;
    }
    .trainings-and-exercises-images>.row1{
        display: grid;
        grid-template-columns: auto auto;
        height: 220px;
    }
    .trainings-and-exercises-images>.row2{
        display: grid;
        grid-template-columns: auto auto;
        height: 220px;
    }
    /* BMi Section */
    .bmi-content {
        width: auto;
        margin: 0 20px;
    }
    .bmi-chart{
        padding: 3.5rem 50px;
    }
    .charts{
        flex-direction: column;
        align-items: center;
    }
    .calculator-chart{
        margin-bottom: 1.5rem;
    }
    .calculate-bmi , .table-paragraph{
        text-align: center;
    }
    #form {
        width: 192px;
    }
    #form-big {
        width: 385px;
    }
}


/* responsive medium device media quary */
@media screen and (min-width:576px) and (max-width:992px) {
    /* header style */
    header {
    padding: 33px 35px 0;
    }
    .banner{
    flex-direction: column;
    gap: 2em;
    }
    nav>div> ul {
    padding: 10px;
    gap: 67px;
    }
    /* change habit section */
    .change-habit-content{
        width: 470px;
        margin: 0 auto;
    }
    .change-habits-cards{
        grid-template-columns: repeat(2,1fr);
        gap: 2em;
    }
    .card-content{
        text-align: center;
    }
    /* run easily section */
    .run-easily{
        /* border: 1px solid red; */
        margin: 0 30px;
        gap: 0em;
    }
    .run-easily-content .common-paragraph{
        margin: 10px 0 20px;
    }
    /* trainings-and-exercises */
    .trainings-and-exercises{
        margin: 0 30px;
    }
    .trainings-and-exercises-images>.row1{
        display: grid;
        grid-template-columns: 200px auto 180px;
        height: 220px;
    }
    .trainings-and-exercises-images>.row2{
        display: grid;
        grid-template-columns: auto 208px 208px;
        height: 220px;
    }
    /* BMi Section */
    .bmi-chart{
        padding: 3.5rem 30px;
    }
    .charts{
        flex-direction: column;
        align-items: center;
    }
    .calculator-chart{
        margin-bottom: 1.5rem;
    }
    .calculate-bmi , .table-paragraph{
        text-align: center;
    }
    
}

